:root {
  --background: #0B0C10;
  --shadow: #1F2833;
  --text: #C5C6C7;
  --primary: #45A29E;
  --title: #66FCF1;

  --title: "Advent Pro", sans-serif;
  --para: "Alumni Sans Pinstripe", sans-serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
